/* blog css */
.blog{
    display: flex;
    justify-content: center;
  }
  .blog h1{
    text-align: center;
    font-weight: bold;
  }
  
   .blog hr{
    border: 1px dashed;
  }
  .blog .card{
    display: flex;
      border-radius: 20px;
      width: 300px;
      padding: 20px;
      box-shadow: 0 0 10px 0 rgb(156, 150, 150);
  }